/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$font-size:12px;
$line-height: 0.4;
$text-align: center;
$secondary-color:  #A4E8EB;
$background-card-color-bottom: #F5C3C1;
$background-card-color-top:#F0E0F5;
$color-font-title: #201724;
$font-size-id: 10px;

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $secondary-color;
}

body {
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

.cards_item {
  display: flex;
  padding: 1rem;
  height: 300px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: $background-card-color-top;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 0.1rem;
  background: $background-card-color-bottom;
}

.pokemon-img{
    width: 60%;
    position: relative;
    left: 20%;
    border-radius: 100px;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card_image{
    height: 100%;
}

div {
    p{
       font-size: $font-size;
       line-height:$line-height;
       text-align: $text-align;

    }
    h1{
        font-size: $font-size;
        line-height:$line-height;
        text-align: $text-align;

    }
    h2{
        font-size: $font-size;
        line-height:$line-height;
        text-align: $text-align;

    }
    h3{
        font-size: $font-size;
        line-height:$line-height;
        text-align: $text-align;

    }
    span{
        font-size: $font-size;
        line-height:$line-height;
        text-align: $text-align;

    }

}


.id-pokemon{
    font-weight: bold;
    color: $color-font-title ;
    position: relative;
    left: 34%;
    font-size: $font-size-id;
}

.name-pokemon{
    font-weight: bold;
    color: $color-font-title;
    text-shadow: 0 0 10px black,   
    6px -2px 6px rgba(0, 0, 0, 0.55), 
    6px -2px 1px rgba(0, 0, 0, 0.5);
}

.name-pokemon:first-letter {
    text-transform: uppercase;
}

.pokemon-types:first-letter {
    text-transform: uppercase;
}