@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$ColorSearchBar: #F5C3C1;

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid $ColorSearchBar;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: $ColorSearchBar;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid $ColorSearchBar;
  background: $ColorSearchBar;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -150px;
}

@media only screen and (max-width: 768px) and (min-width: 768px){
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -300px;
  }

}